//colors
$black: #000;
$white: #fff;

$c-bg: #2B2A29;

$c-green: #33CC82;

$c-red: #CC335C;

$c-line: rgba(51, 204, 130, 0.13);

$shadow: 0 0 15px 0 rgba(33, 33, 33, 1);

//size
$w-desktop: 1200px;
$w-tablet: 768px;
$w-mobile: 425px;

//width
$thin: 100;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-w: 900;

//fonts
$f-bebas: 'BebasNeue', sans-serif;
$f-roboto: 'Roboto', sans-serif;
$f-rub: 'ALSRubl';