footer.footer
    ._container.container
        ._wrapper
            ._logo
                a.footer-logo(href="/")
            ._r
                ._ss
                    .footer-ss
                        a._item(href="#" target="_blank" style="background-image:url('images/ss-inst.svg')")
                        a._item(href="#" target="_blank" style="background-image:url('images/ss-vk.svg')")
                        a._item(href="#" target="_blank" style="background-image:url('images/ss-fb.svg')")
                ._d-line
                    ._contacts
                        .footer-contacts
                            ._ttl Наши контакты
                            ._list
                                ._items
                                    ._city Архангельск
                                    ._addr пр. Троицкий, 17<br>ТРК «ЕВРОПАРК»<br>1 этаж
                                    ._tel
                                        a(href="tel:8182472560") (8182) <span>47-25-60</span>
                                ._items
                                    ._city Северодвинск
                                    ._addr ш. Архангельское, 120<br>ТРК «Макси»<br>1 этаж
                                    ._tel
                                        a(href="tel:8184598809") (8184) <span>59-88-09</span>
                    ._d-line-r
                        ._menu
                            nav.footer-nav
                                ._ttl Каталог
                                ul._list
                                    li._item
                                        a._link(href="#") Букеты
                                    li._item
                                        a._link(href="#") Монобукеты
                                    li._item
                                        a._link(href="#") В коробке
                                    li._item
                                        a._link(href="#") Букетики

                        ._links
                            .footer-links
                                a._item(href="delivery.html") доставка
                ._developers.footer-developers Разработка - <a href="http://f5-studio.ru" target="_blank">F5 studio</a>
                ._year.footer-year 2019