header.header.adapt
    ._container.container
        ._wrapper
            ._ss
                .header-ss
                    a._item(href="#" target="_blank" style="background-image:url('images/ss-inst.svg')")
                    a._item(href="#" target="_blank" style="background-image:url('images/ss-vk.svg')")
                    a._item(href="#" target="_blank" style="background-image:url('images/ss-fb.svg')")
            ._d-line
                ._m-line
                    ._logo
                        a.header-logo(href="/")
                    ._basket
                        a.header-basket(href="basket.html")
                            span._label Корзина
                            span._count 100
                ._d-line2
                    ._tel
                        .header-tel
                            a(href="tel:8182472560") (8182) <span>47-25-60</span>
                    ._time Доставляем ежедневно с 10:00 до 21:00
            ._d-basket
            ._menu
                ._banner
                    a.menu-banner(href="#")
                        span Ко дню матери
                        img(src="images/sale_icon.svg")
                nav.header-nav
                    ._mob-ttl.js-menu
                        span Что будем дарить?
                    ul._list
                        li._item
                            a._link.selected(href="#") Букеты
                            ._label из красивых цветов
                        li._item
                            a._link(href="#") Монобукеты
                            ._label из красивых цветов одного вида
                        li._item
                            a._link(href="#") Композиции
                            ._label цветы в коробках, колбах и т.д.
                        li._item
                            a._link(href="#") Подарки
                            ._label для вас и ваших близких
                        li._item
                            a._link(href="#") Букетерища
                        li._item
                            a._link(href="#") Букетерики
