extends core/_template

append sharedVars
    - var activeMenu = 'Корзина';

block title
    title=activeMenu

block content
    .workarea
        .container
            .page
                .page-ttl
                    .page-h
                        h1=activeMenu
                .page-content
                    .basket
                        ._list
                            - for(var i=1;i<4;i++)
                                ._item
                                    ._cnt
                                        ._l
                                            a._img(href="detail.html" style="background-image:url('https://picsum.photos/500?image=11"+i+"')")
                                        ._r
                                            ._ttl Букетерище #12#{i}
                                            ._price #{i}34 000 <span class="rub">o</span>
                                            ._count
                                                .quantity-selection
                                                    ._minus.js-minus -
                                                    input._cur.js-count(type="text" value="2" disabled)
                                                    ._plus.js-plus +
                                    ._del
                                        a.del-link(href="#")
                                            span Удалить
                        ._bottom
                            div Всего: 245 000 <span class="rub">o</span>







    //end workarea