extends core/_template

append sharedVars
	- var activeMenu = 'Главная';

block title
	title=activeMenu

block content
	.workarea
		.container
			.page
				.page-ttl
					.page-h
						h1 Букеты
					.page-prev Самые большие. Самые БУКЕТЕРИЩА!
				.page-content
					.price-slider
						._ttl Выбрать цену:
						._range
							input.js-range-slider(type="text" data-min="200" data-max="100000" data-from="30000" data-to="70000" data-step="100")
					.catalog
						._list.catalog-slider
							- for(var i=0;i<9;i++)
								._item
									._w
										a._img(href="detail.html" style="background-image:url('https://picsum.photos/500?image=11"+i+"')")
										._cnt
											._l
												a._ttl(href="detail.html") Букетерище #124
												._composition Розы / Пионы / Хризантемы
												._price 234 000 <span class="rub">o</span>
											._r
												button._buy(type="button")
		.big-banner
			._img(style="background-image:url('https://picsum.photos/2000/600?image=696')")
			._container.container
				._ttl Помогаем дарить<br>ваши чувства!

	//end workarea